<hr>
<label>Server Name</label>
<!--<input type="text" 
  class="form-control" 
  (input)="onUpdateServerName($event)">-->
<input type="text" 
  class="form-control" 
  [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">Server "{{ serverName }}" was created successfully.</p>
<ng-template #noServer>
  <p>No server was created.</p>
</ng-template>
<hr>
<h3>Servers</h3>
<app-server *ngFor="let server of servers"></app-server>
