<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm an AppCompomonent!</h3>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
</div>