<p 
    [ngStyle]="{backgroundColor: getColor()}"
    [ngClass]="{online: serverStatus === 'online', offline: serverStatus === 'offline'}">{{ 'Server' }}, with <strong>ID {{ serverId }}</strong> is <strong>{{ serverStatus }}</strong>.</p>